In [3]:
#1.Experiment with multiplying strings or lists with integers and see what happens. Having seen that ;create a variable which holds value ‘xyzxyzxyzxyzxyzxyzxyzxyzxyzxyz’
string1 ='xyz'
string1 *9

'xyzxyzxyzxyzxyzxyzxyzxyzxyz'

In [6]:
#2.Using list comprehension ,list related functions or otherwise, create following list:
#[[1, 2, 3, 4, 5, 6, 7], [1, 4, 9, 16, 25, 36, 49], [1, 8, 27, 64, 125, 216,343]]
list1 =[i*1 for i in range(1,7)]
list2 = [i**2 for i in range(1,7)]
list3 = [i**3 for i in range(1,7)]
final_list = [list1,list2,list3]
final_list

[[1, 2, 3, 4, 5, 6], [1, 4, 9, 16, 25, 36], [1, 8, 27, 64, 125, 216]]

In [40]:
#3.Write a function which takes input as list and returns a list which contains a sequence of 10 equally spaced numbers between min and max of the string if minimum and maximum value of lists is same then it returns a list with 10 zeroes.
# example:
# input list : [20, 2, 6, 7, 10]
# output list : [2,4,6,8,10,12,14,16,18,20] 
ar=[20, 2, 6, 7, 10]

mx = max(ar)
mn = min(ar)
mx
b = [mn]
d = (mx - mn)/9
for i in range(1,10):
    temp = mn + d*i
    b.append(temp)
b

[2, 4.0, 6.0, 8.0, 10.0, 12.0, 14.0, 16.0, 18.0, 20.0]

In [59]:
#4.Show by example how to sort a dictionary by its values
Two_digits ={'one':89,'two':54,'three':76,'four':53}
sorted(Two_digits.items(), key = lambda kv :kv[1])

[('four', 53), ('two', 54), ('three', 76), ('one', 89)]

In [63]:
#5.Write a function which takes input 3 dictionaries and returns a new dictionary which has all key value pairs from those three dictionaries
Two_digits ={'one':89,'two':54,'three':76,'four':53}
Three_digits = {'five':222,'six':444,'seven':888}
Four_digits = {'eight':2345,'nine':8765,'ten':7632}
final = {**Two_digits,**Three_digits,**Four_digits}
final

{'one': 89,
 'two': 54,
 'three': 76,
 'four': 53,
 'five': 222,
 'six': 444,
 'seven': 888,
 'eight': 2345,
 'nine': 8765,
 'ten': 7632}

In [89]:
#6.Write a function which takes input a string and returns reversed string example
# input : “string”
# output : “gnirts”
inp = 'string'
output=inp[::-1]
output

'gnirts'

In [18]:
# 7. Consider this dictionary of addresses :
# {“home” : [“Hyderabad”,“Lingampally”,“Ph:1234567890”],
# “office”:[“Maharashtra”,“Mumbai”,“Ghatkopar”,“Ph : 5432167809”,“Pin :400043”],
# “OOI” : [“Singapore”,“Ph : 09876345”]}
# Write a program to extract phone numbers for each location


import re
info = {'Home': ["Hyderabad","Lingampally","Ph:1234567890"],
"office":["Maharashtra","Mumbai","Ghatkopar","Ph:5432167809","Pin:400043"],
"OOI" : ["Singapore","Ph:09876345"]} 
for x in info.values():
    for y in x:
        print(re.findall('Ph:\\d{10}',y))

In [65]:
#8.Write a Python function to find the greatest common divisor (gcd) of two integers.
m , n = 15, 6 

def gcd(m,n):
    fm =[]
    if(n > m):
        m , n = n,m 
        gcd(m,n)
    else:
        for i in range(1,m):
            if( m%i==0 and n%i==0 ):
                fm.append(i)
    print(fm[-1])
   
gcd(m,n)

3

In [5]:
# 9.Write a function which takes input n and q and returns sum of qth powers of first n natural numbers
import sys
sys.version

n = int(input('Enter n'))
q = int(input('Enter q'))
count =  0
for i in range(1,n+1):
    temp = i**q
    
    count = count + temp
    
print('FinalCount',count)

Enter n3
Enter q2
temp: 1
temp: 4
temp: 9
FinalCount 14

In [12]:
#10.Find out all numbers between 1 to 100 which are divisible by either 3 or 5 but not by both.
fm=[]
for i in range(1,100):
    if(i%3==0 and i%5==0):
        i= i+1
    else:
        if (i%3==0 or i%5==0):
            fm.append(i)
        
print(fm)

[3, 5, 6, 9, 10, 12, 18, 20, 21, 24, 25, 27, 33, 35, 36, 39, 40, 42, 48, 50, 51, 54, 55, 57, 63, 65, 66, 69, 70, 72, 78, 80, 81, 84, 85, 87, 93, 95, 96, 99]

In [44]:
#11.Write a function which takes input n and produces first n elements of a fibonacci seriesn = 15
temp = [0,1]
c = 1
for i in range(2,n+1):
    t= temp[i-1] + temp[i-2]
    temp.append(t)

print(temp)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]